/********************

  Style for VOLCBAT.

  by Ben/Cyteless

********************/

html, body
{

  margin: 0;
  padding: 0;
  font: 11pt 'Roboto', sans-serif;

}

.navbar
{

  display: fixed;
  width: 100%;
  height: 60px;
  background-color: rgba(249, 249, 249, 0.5);
  border-bottom: 1px solid rgb(249, 249, 249);

}

ul.menu
{

  margin: 0;
  padding: 0;
  display: inline-block;

}

ul.menu li
{

  list-style-type: none;

}

.top
{

  display: block;
  background-image: url('images/top.png') no-repeat;
  overflow: hidden;

}

/*Phone portrait*/
@media only screen
and (max-width: 320px)
{



}
/*Phone landscape*/
@media only screen
and (min-width: 321px)
{



}
/*Bigger phone/smaller tablet*/
@media only screen
and (min-width: 640px)
{



}
/*Tablet*/
@media only screen
and (min-width: 768px)
{



}
/*Tablet landscape/small screen*/
@media only screen
and (min-width: 1024px)
{



}
/*Medium screens*/
@media only screen
and (min-width: 1280px)
and (max-width: 1366px)
{



}
/*Bigger medium screens*/
@media only screen
and (min-width: 1367px)
and (max-width: 1680px)
{



}
/*High to HD screens*/
@media only screen
and (min-width: 1680px)
and (max-width: 1920px)
{

  ul.menu.hor li
  {

    padding: 20px 30px;
    display: inline-block;

  }

  ul.menu.hor li:hover
  {

    text-decoration: underline;

  }

  .top
  {

    width: 100%;
    height: 800px;

  }

}
/*Over 1080p*/
@media only screen
and (min-width: 1921px)
{



}
