/*

VCB Buttons
by Ben/Cyteless

Button background: #F2F2F2;
Button background gradient: rgb(242, 242, 242), rgba(213, 213, 213);
Text colour: #18191B;

Primary background: #227637;
Primary background gradient: rgb(34, 119, 55), rgb(30, 108, 50);
Primary text: #F2F2F2;

*/

.btn:link, .btn:visited
{

  display: inline-block;
  position: relative;
  padding: 20px 44px;
  background-image: linear-gradient(to bottom right, rgb(242, 242, 242), rgba(213, 213, 213));
  background-color: rgba(242, 242, 242, 1);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  color: #18191B;

}

.btn-primary:link, .btn-primary:visited
{

  background-image: linear-gradient(to bottom right, rgb(34, 119, 55), rgb(30, 108, 50));
  background-color: #227637;
  color: #F2F2F2;

}
